<div class="group">
  <h2><%= t('activerecord.models.provider', count: 2) %></h2>
  <% if wine.provider %>
  <ul>
    <li><%= link_to wine.provider.name, wine.provider %></li>
    <li><%= wine.provider.city %>, <%= wine.provider.zip %></li>
  </ul>
  <% else %>
  <p><%= t('activerecord.models.provider', count: 0) %>.</p>
  <% end %>
</div>
