<p id="notice"><%= notice %></p>

<div class="group">
  <h2>Provider #<%= @provider.id %></h2>

  <ul>
    <li>Name: <%= @provider.name %></li>
    <% unless @provider.address.empty? && @provider.zip.empty? && @provider.city.empty? %>
    <li>
      Address: <%= @provider.address %>
      <%= @provider.zip %> <%= @provider.city %>
    </li>
    <%end%>
    <% if @provider.country %>
    <li>Country: <%= link_to @provider.country.name, country_path(@provider.country) %></li>
    <%end%>
    <% unless @provider.phone.empty? %>
    <li>Phone: <%= @provider.phone %></li>
    <%end%>
    <% unless @provider.web.empty? %>
    <li>Web: <%= link_to h(@provider.web), @provider.web %></li>
    <%end%>
    <% unless @provider.email.empty? %>
    <li>E-mail: <%= mail_to @provider.email %></li>
    <%end%>
    <% unless @provider.notes.empty? %>
    <li class="notes">Notes:
      <p><%= @provider.notes %></p>
    </li>
    <%end%>
  </ul>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
