<p>
    There are <%= @bottle_count%> bottles from <%= @wine_count %> different
    wines in the cellar.
</p>

<h2 id='todrink'>Wines to drink in <%= @years_to_drink_wines %> years</h2>

<p>
    This table lists bottles of wine to drink quite quickly. Bottles
    on grey background have to be drunk in the current year.
</p>

<% if !@millesimes.nil? and @bottles_to_drink > 0 %>
<table>
    <thead>
        <tr>
            <th>Domain</th>
            <th>Color</th>
            <th>Millesime</th>
            <th>Quantity</th>
            <th>Region</th>
            <th>Zone</th>
            <th>Country</th>
            <th>Nb Years</th>
        </tr>
    </thead>
    <tbody>
        <% @millesimes.each do |m| %>
        <% wine = m.wine %>
        <tr class="<%= m.years_to_drink_wine < 1 ? 'urgent-to-drink' : nil %>">
            <td><%= link_to wine.domain, wine_millesime_path(wine, m) %></td>
            <td><%= wine.color.name %></td>
            <td><%= m.year %></td>
            <td><%= m.quantity %></td>
            <td><%= wine.region.name %></td>
            <td><%= wine.region.root.name %></td>
            <td><%= wine.region.country.name %></td>
            <td><%= m.diff %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<% else %>
<p>There is no wine ready to drink.</p>
<% end %>

<h2 id="lastentries">Cellar book's last entries</h2>

<%= render partial: 'wlogs/book', locals: { show_comments: false } %>