<h2><%= t('activerecord.models.preference', count: 2) %></h2>

<%= form_tag('set_preferences', method: :post) %>
<% if @preferences.any? { |pref| pref.errors.any? } %>
  <div id="error_explanation">
    <h4><%= t('form.cannot_save', model: t('activerecord.models.wine', count: count), count: count) %></h4>
    <ul>
      <% @preferences.each do |pref| %>
        <% pref.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<table>
    <thead>
        <tr>
            <td><%= t('activerecord.attributes.preference.setting') %></td>
            <td><%= t('activerecord.attributes.preference.stype') %></td>
            <td><%= t('activerecord.attributes.preference.value') %></td>
        </tr>
    </thead>
    <tbody>
    <% @preferences.each do |pref| %>
        <tr>
            <td><%= pref.setting %></td>
            <td><%= t("preference.type.#{pref.stype}") %></td>
            <td><%= preference_field(pref) %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<%= submit_tag t('form.save') %>
</form>
