<h2><%= t('view.search_results') %></h2>

<div class="group">
    <h3><%= t('activerecord.models.wine', count: 2) %></h3>
    <% if @millesimes.empty? %>
        <p><%= t('view.no_result') %></p>
    <% else %>
        <ul>
            <% @millesimes.each do |millesime| %>
                <% wine = millesime.wine %>
                <li>
                    <%= link_to "#{millesime.millesime_wine}", [wine, millesime] %>,
                    <%= wine.color.name %>, <%= wine.region.name %>,
                    <%= wine.region.country.name %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <h3><%= t('activerecord.models.producer', count: 2) %></h3>
    <% if @producers.empty? %>
        <p><%= t('view.no_result') %></p>
    <% else %>
        <ul>
            <% @producers.each do |producer| %>
                <li>
                    <%= link_to producer.name, producer %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <h3><%= t('activerecord.models.provider', count: 2) %></h3>
    <% if @providers.empty? %>
        <p><%= t('view.no_result') %></p>
    <% else %>
        <ul>
            <% @providers.each do |provider| %>
                <li>
                    <%= link_to provider.name, provider %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>
