<h2>Statistics</h2>

<h3>Yearly spendings</h3>

<table class="stat">
    <thead>
        <tr>
            <td>Year</td>
            <td>Total spendings</td>
        </tr>
    </thead>
    <tbody>
        <% @spendings.each do |year, total| %>
        <tr>
            <td><%= year %></td>
            <td class="right"><%= sprintf('%.2f', total) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= column_chart @spendings %>

<h3>Evolution</h3>

<%= line_chart @evolution %>

<h3>Garde</h3>

<table class="stat">
    <thead>
        <tr>
            <th>Garde time</th>
            <th>Bottles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= link_to @garde[0][0], wines_path(before: 5) %></td>
            <td><%= @garde[0][1] %></td>
        </tr>
        <tr>
            <td><%= link_to @garde[1][0], wines_path(before: 10, after: 5) %></td>
            <td><%= @garde[1][1] %></td>
        </tr>
        <tr>
            <td><%= link_to @garde[2][0], wines_path(after: 10) %></td>
            <td><%= @garde[2][1] %></td>
        </tr>
    </tbody>
</table>

<%= column_chart @garde %>

<h3>Out movements</h3>

<%= column_chart @drinking, colors: @colors %>

<%= link_to'Color statistics', stats_colors_path %> |
<% if Country.count > 1 %>
<%= link_to 'Zone statistics', stats_coutries_path %>
<% else %>
<%= link_to 'Zone statistics', country_stats_country_regions_path(Country.first) %>
<% end %>