<table>
    <thead>
        <th><%= t('activerecord.attributes.wlog.date') %></th>
        <th><%= t('activerecord.attributes.wlog.mvt_type') %></th>
        <th><%= t('activerecord.attributes.wlog.quantity') %></th>
        <th><%= t('activerecord.attributes.wlog.price') %></th>
        <th><%= t('activerecord.attributes.wlog.bottle_rack', count: 1) %></th>
        <th><%= t('activerecord.attributes.wlog.notes') %></th>
        <th></th>
    </thead>
    <tbody>
    <% @millesime.wlogs.order(id: :desc).each do |wlog| %>
        <tr>
            <td><%= link_to wlog.date, edit_wine_millesime_wlog_path(@wine, @millesime, wlog) %></td>
            <td><%= t("wlog.mvt.#{wlog.mvt_type}") %></td>
            <td class="right"><%= '-' if wlog.mvt_type == 'out' %><%= wlog.quantity %></td>
            <td class="right"><%= wlog.price %></td>
            <% if wlog.has_bottle_rack? %>
            <td>
                <% if wlog.bottle_rack? %>
                    <%= link_to wlog.bottle_rack.name, bottle_rack_path(wlog.bottle_rack) %>:
                    <%= wlog.pos %>
                <% end %>
                <% if wlog.mvt_type == 'move' %>
                    &#8594;
                    <%= link_to BottleRack.find(wlog.move_to_br_id).name, bottle_rack_path(wlog.move_to_br_id) %>:
                    <%= wlog.move_to_pos%>
                <% end %>
            </td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= wlog.notes %></td>
            <td><%= link_to_destroy [@wine, @millesime, wlog] %></td>
        </tr>
    <% end %>
    </tbody>
</table>
