<table>
    <thead>
        <th>Date</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Rack</th>
        <th>Notes</th>
        <th></th>
    </thead>
    <tbody>
    <% @millesime.wlogs.order(id: :desc).each do |wlog| %>
        <tr>
            <td><%= link_to wlog.date, edit_wine_millesime_wlog_path(@wine, @millesime, wlog) %></td>
            <td><%= wlog.mvt_type %></td>
            <td><%= wlog.quantity %></td>
            <td><%= wlog.price %></td>
            <% if wlog.bottle_rack.nil? %>
            <td></td>
            <% else %>
            <td>
                <%= link_to wlog.bottle_rack.name, bottle_rack_path(wlog.bottle_rack) %>:
                <%= wlog.pos %>
                <% if wlog.mvt_type == 'move' %>
                ->
                <%= link_to BottleRack.find(wlog.move_to_br_id).name, bottle_rack_path(wlog.move_to_br_id) %>:
                <%= wlog.move_to_pos%>
                <% end %>
            </td>
            <% end %>
            <td><%= wlog.notes %></td>
            <td><%= link_to_destroy [@wine, @millesime, wlog] %></td>
        </tr>
    <% end %>
    </tbody>
</table>
