<h1><%= @title %></h2>

<div class="group">
    <h2>Wine</h3>
    <ul>
        <li><%= @wine.domain %></li>
        <li><%= @wine.region.name %> <%= @wine.color.name %> <%= @millesime.year %>
    </ul>

</div>

<div class="group">
    <h2>Log entry</h2>
    <ul>
        <li><%= @wlog.date %></li>
        <li>Type: <%= @wlog.mvt_type %></li>
        <li>Quantity: <%= @wlog.quantity %></li>
    </ul>

    <%= form_tag({action: :save_rack, id: @wlog}) do %>
        <%= hidden_field_tag :wlog_id, @wlog.id %>
        <% if @move_in_phase %>
        <%= hidden_field_tag "move_in_phase", true %>
        <% end %>
        <% if @wlog.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@wlog.errors.count, "error") %> prohibited this wine log from being saved:</h2>

            <ul>
            <% @wlog.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <fieldset>
            <div class="field">
                <%= label_tag :bottle_rack_id, 'Bottle rack' %>
                <%= select :bottle_rack, :id, @racks %>
                <%= image_tag 'ajax-loader.gif', id: 'spinner', style: "display: none" %>
            </div>
            <div class="field" id="RackAjax">
                <% unless @bottle_rack.nil? %>
                <%= render partial: 'bottle_racks/rack', locals: { bottle_rack: @bottle_rack, show: false, move_in_phase: @move_in_phase } %>
                <% end %>
            </div>
        </fieldset>
        <div class="actions">
          <%= submit_tag 'Save racks' %>
        </div>
    <% end %>
</div>
