<h1><%= @title %></h2>

<div class="group">
    <h2><%= t('activerecord.models.wine', count: 1) %></h3>
    <ul>
        <li><%= @wine.domain %></li>
        <li><%= @wine.region.name %> <%= @wine.color.name %> <%= @millesime.year %>
    </ul>

</div>

<div class="group">
    <h2><%= t('activerecord.models.wlog', count: 1) %></h2>
    <ul>
        <li><%= @wlog.date %></li>
        <li><%= t('activerecord.attributes.wlog.mvt_type') %>: <%= t("wlog.mvt.#{@wlog.mvt_type}") %></li>
        <li><%= t('activerecord.attributes.wlog.quantity') %>: <%= @wlog.quantity %></li>
    </ul>

    <%= form_tag({action: :save_rack, id: @wlog}) do %>
        <%= hidden_field_tag :wlog_id, @wlog.id %>
        <% if @move_in_phase %>
        <%= hidden_field_tag "move_in_phase", true %>
        <% end %>
        <% if @wlog.errors.any? %>
          <div id="error_explanation">
            <% count = @wlog.errors.count %>
            <h2><%= t('form.cannot_save', model: t('activerecord.models.wlog', count: count), count: count) %></h2>
            <ul>
            <% @wlog.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <fieldset>
            <div class="field">
                <%= label_tag :bottle_rack_id, t('activerecord.models.bottle_rack', count: 1) %>
                <%= select :bottle_rack, :id, @racks %>
                <%= image_tag 'ajax-loader.gif', id: 'spinner', style: "display: none" %>
            </div>
            <div class="field" id="RackAjax">
                <% unless @bottle_rack.nil? %>
                <%= render partial: 'bottle_racks/rack', locals: { bottle_rack: @bottle_rack, show: false, move_in_phase: @move_in_phase } %>
                <% end %>
            </div>
        </fieldset>
        <div class="actions">
          <%= submit_tag t('form.save') %>
        </div>
    <% end %>
</div>
