<p id="notice"><%= notice %></p>

<h2><%= t_title(:index) %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.color.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.name %></td>
        <td><%= colored_square(color) %>
        <td><%= link_to t_action(:edit), edit_color_path(color) %></td>
        <td><%= link_to_destroy color %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t_action(:new), new_color_path %> |
<%= link_to t('view.statistic.color_title'), stats_colors_path %>