<h2><%= t('view.statistic.color_title') %></h2>

<table class="stat">
    <thead>
        <tr>
            <td><%= t('activerecord.attributes.wine.color') %></td>
            <td><%= t('view.statistic.nb_bottles') %></td>
        </tr>
    </thead>
    <tbody>
        <% @colors.each do |color, sum| %>
        <tr>
            <td><%= color.name %></td>
            <td class="right"><%= sum %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= pie_chart Hash[@colors.map { |c, sum| [c.name, sum] }], colors: @rgb_colors %>

<%= link_to t_action(:index), colors_path %>
|
<%= link_to t('view.statistics'), controller: 'admin', action: 'stats' %>
