<h2>Statistics on colors</h2>

<table class="stat">
    <thead>
        <tr>
            <td>Wine color</td>
            <td>Bottles</td>
        </tr>
    </thead>
    <tbody>
        <% @colors.each do |color, sum| %>
        <tr>
            <td><%= color.name %></td>
            <td class="right"><%= sum %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= pie_chart Hash[@colors.map { |c, sum| [c.name, sum] }], colors: @colors.map { |c, _sum| c.color } %>

<%= link_to 'Back', colors_path %>
|
<%= link_to 'Statistics', controller: 'admin', action: 'stats' %>
