<p id="notice"><%= notice %></p>

<h1><%= t_title(:index) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.dish.name') %></th>
      <th><%= t('activerecord.attributes.dish.dish_type') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= link_to dish.name, dish %></td>
        <td><%= localized_dish_type(dish.dish_type) %></td>
        <td><%= link_to_destroy dish %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t_action(:new), new_dish_path %>
