<p id="notice"><%= notice %></p>

<div class="group">
  <h2> Dish #<%= @dish.id %></h2>

  <ul>
    <li>Name: <%= @dish.name %></li>
    <li>Type: <%= @dish.dish_type %></li>
  </ul>
</div>

<div class="group">
  <h2>Associated regions</h2>
  <% if @dras.empty? %>
  <p>No known associated region</p>
  <% else %>
  <p>This kind of dish may be drunk with wines from:</p>
  <dl class="association">
    <% @dras.each do |colorname, dras| %>
      <% unless dras.empty? %>
        <dt><%= colorname %></dt>
        <dd><ul>
          <% dras.each do |dra| %>
            <li>
              <%= link_to dra.region.name, country_region_path(dra.region.country, dra.region) %>
              <% wines = Millesime.from_region(dra.region).of_color(dra.color).by_year.with_bottles %>
              <% unless wines.empty? %>
                <ul class="region-wines" style="display:none;">
                  <% wines.each do |mil| %>
                    <li>
                      <%= link_to "#{mil.wine.domain} #{mil.year}", wine_millesime_path(mil.wine, mil) %>
                      (<%= pluralize(mil.quantity, 'bottle') %>)
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul></dd>
      <% end %>
    <% end %>
  </dl>
  <% end %>
</div>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
