<p id="notice"><%= notice %></p>

<h2><%= t_title(:index) %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.country.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= link_to country.name, country_regions_path(country) %></td>
        <td><%= link_to t_action(:edit), edit_country_path(country) %></td>
        <td><%= link_to_destroy country %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t_action(:new), new_country_path %>
