<div class="group">
  <h2><%= t('activerecord.models.producer', count: 2) %></h2>
  <% if wine.producer %>
  <ul>
    <li><%= link_to wine.producer.name, wine.producer %></li>
    <li><%= t('view.zip_and_city', city: wine.producer.city, zip: wine.producer.zip) %></li>
    <li><%= wine.producer.country.name %></li>
  </ul>
  <% else %>
  <p><%= t('activerecord.models.producer', count: 0) %>.</p>
  <% end %>
</div>
