<p id="notice"><%= notice %></p>

<div class="group">
  <h2>Producer</h2>

  <ul>
    <li><%= @producer.name %></li>
    <% unless @producer.address.empty? %><li><%= @producer.address %></li><%end%>
    <% unless @producer.zip.empty? && @producer.city.empty? %><li><%= @producer.zip %> <%= @producer.city %></li><%end%>
    <% if @producer.country %><li><%= @producer.country.name %></li><%end%>
    <% unless @producer.phone.empty? %><li><%= @producer.phone %></li><%end%>
    <% unless @producer.web.empty? %>
    <li><%= link_to h(@producer.web), @producer.web %></li>
    <%end%>
    <% unless @producer.email.empty? %>
    <li><%= mail_to @producer.email %></li>
    <%end%>
    <% unless @producer.notes.empty? %><li>Notes: <%= @producer.notes %></li><%end%>
  </ul>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
