<p id="notice"><%= notice %></p>

<div class="group">
  <h2>Producer #<%= @producer.id %></h2>

  <ul>
    <li>Name: <%= @producer.name %></li>
    <% unless @producer.address.empty? && @producer.zip.empty? && @producer.city.empty? %>
    <li>
      Address: <%= @producer.address %>
      <%= @producer.zip %> <%= @producer.city %>
    </li>
    <%end%>
    <% if @producer.country %>
    <li>Country: <%= link_to @producer.country.name, country_path(@producer.country) %></li>
    <%end%>
    <% unless @producer.phone.empty? %>
    <li>Phone: <%= @producer.phone %></li>
    <%end%>
    <% unless @producer.web.empty? %>
    <li>Web: <%= link_to h(@producer.web), @producer.web %></li>
    <%end%>
    <% unless @producer.email.empty? %>
    <li>E-mail: <%= mail_to @producer.email %></li>
    <%end%>
    <% unless @producer.notes.empty? %>
    <li class="notes">Notes:
      <p><%= @producer.notes %></p>
    </li>
    <%end%>
  </ul>
</div>

<div class="group">
  <h2>Known wines</h2>

  <h3>Wines to drink</h3>
  <% if @millesimes_to_drink.count.positive? %>
    <ul>
      <% @millesimes_to_drink.each do |mil| %>
        <li>
          <% wine = mil.wine %>
          <%= link_to "#{wine.domain} #{mil.year}", wine_millesime_path(wine, mil) %>,
          <%= wine.region.name %> <%= wine.color.name %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No known wines from this producer.</p>
  <% end %>

  <h3>Drunk wines</h3>
  <% if @drunk_millesimes.count.positive? %>
    <ul>
      <% @drunk_millesimes.each do |mil| %>
        <li>
          <% wine = mil.wine %>
          <%= link_to "#{wine.domain} #{mil.year}", wine_millesime_path(wine, mil) %>,
          <%= wine.region.name %> <%= wine.color.name %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No known drunk wines from this producer.</p>
  <% end %>
</div>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
