<h1>Editing Millesime <%= @millesime.year %>, wine #<%= @wine.id %></h1>

<div class="group">
  <%= render partial: 'wines/wine', locals: { wine: @wine, min: true } %>
</div>

<%= render 'form' %>

<%= link_to 'Back', wine_path(@wine) %>
