<p id="notice"><%= notice %></p>

<h1>Millesimes</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Garde</th>
      <th>Wine</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @millesimes.each do |millesime| %>
      <tr>
        <td><%= millesime.year %></td>
        <td><%= millesime.garde %></td>
        <td><%= millesime.wine_id %></td>
        <td><%= millesime.notes %></td>
        <td><%= link_to 'Show', [millesime.wine_id, millesime] %></td>
        <td><%= link_to 'Edit', edit_wine_millesime_path(millesime.wine_id, millesime) %></td>
        <td><%= link_to_destroy [millesime.wine_id, millesime] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Millesime', new_wine_millesime_path(@wine) %>
