<h1><%= t_title(:new) %></h1>

<div class="group">
  <%= render partial: 'wines/wine', locals: { wine: @wine, min: true } %>
</div>

<%= form_with(model: [@wine, @millesime], local: true) do |form| %>
  <%= render partial: 'form', locals: { subform: false, form: form } %>
<% end %>

<%= link_to t_action(:show), wine_path(@wine) %>
