<h1>New Millesime for wine #<%= @wine.id %></h1>

<div class="group">
  <%= render partial: 'wines/wine', locals: { wine: @wine, min: true } %>
</div>

<%= form_with(model: [@wine, @millesime], local: true) do |form| %>
  <%= render partial: 'form', locals: { subform: false, form: form } %>
<% end %>

<%= link_to 'Back', wine_path(@wine) %>
