<%= form_with(model: [@region.country, @region]) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <% count = @region.errors.count %>
      <h2><%= t('form.cannot_save', model: t('activerecord.models.region', count: count), count: count) %></h2>
      <ul>
      <% @region.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

   <div class="field">
    <%= f.label :color %>
    <%= f.collection_check_boxes :color_ids, Color.by_name.all, :id, :name do |b|%>
    <% b.label(class: 'inline') + b.check_box + raw('&nbsp;&nbsp;') %>
    <% end %>
  </div>


  <div class="field">
    <%= f.label :parent %>
    <%= f.select(:parent_id, nil, {}, {size: 10}) do %>
      <%= option_groups_from_collection_for_select(@regions, :options, :type_name, :id, :name, @region.parent_id) %>
    <% end %>
  </div>

  <%= render 'countries/country_select', form: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
