<h2><%= t('view.statistic.country_title', country: @country.name) %></h2>

<table class="stat">
    <thead>
        <tr>
            <th><%= t('activerecord.models.region', count: 1) %></th>
            <th><%= t('view.statistic.nb_bottles') %></th>
            <th><%= t('view.statistic.percentage') %></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td><%= t('view.statistic.sum') %></td>
            <td class="right"><%= @sum_regions %></td>
            <td class="right">100.0%</td>
        </tr>
    </tfoot>
    <tbody>
        <% @regions.each do |region, data| %>
        <tr>
            <td><%= link_to region, country_region_path(@country, data[:id]) %></td>
            <td class="right"><%= data[:nb] %></td>
            <td class="right"><%= sprintf("%.1f%%", data[:p]) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= pie_chart Hash[@regions.map { |name, data| [name, data[:nb]] }] %>

<%= link_to t_action(:index), country_regions_path(@country) %>
|
<%= link_to t('view.statistics'), controller: 'admin', action: 'stats' %>
