<h2><%= @country.name %> &gt; <%= t_title(:edit) %></h2>

<%= render 'form' %>

<%= link_to t_action(:show), [@region.country, @region] %> |
<%= link_to t_action(:index), country_regions_path(@region.country) %>
