<h2><%= @country.name %> &gt; <%= t_title(:index) %></h2>

<%= generate_region_tree(@country) %>

<%= link_to t_action(:new), new_country_region_path(@country) %> |
<%= link_to t('view.statistics'), country_stats_country_regions_path(@country) %>
