<h2><%= t_title(:index) %>> (<%= @country.name %>)</h2>

<%= generate_region_tree(@country) %>

<%= link_to t_action(:new), new_country_region_path(@country) %> |
<%= link_to 'Statistics', country_stats_country_regions_path(@country) %>
