<p id="notice"><%= notice %></p>

<div class="group">
  <h2>Region #<%= @region.id %></h2>

  <ul>
    <li>Name: <%= @region.name %></li>
    <% unless @region.root? %>
    <li>Zone: <%= @region.root.name %></li>
    <li>Parent: <%= @region.parent.name %></li>
    <% end %>
    <li>Country: <%= @region.country.name %></li>
  </ul>
</div>

<%= link_to 'Edit', edit_country_region_path(@region.country, @region) %> |
<%= link_to 'Back', country_regions_path(@region.country) %> |
<%= link_to_destroy [@country, @region], no_img: true %>
