<p id="notice"><%= notice %></p>

<div class="group">
  <h2>Region #<%= @region.id %></h2>

  <ul>
    <li>Name: <%= @region.name %></li>
    <% unless @region.root? %>
    <li>Zone: <%= link_to @region.root.name, country_region_path(@country, @region.root) %></li>
    <li>Parent: <%= link_to @region.parent.name, country_region_path(@country, @region.parent) %></li>
    <% end %>
    <li>Country: <%= link_to @region.country.name, @country %></li>
    <li>Colors: <%= @region.colors.map(&:name).join(', ') %></li>
  </ul>

  <% unless @region.leaf? %>
  <h3>Subregions</h3>
  <ul class="ungroup">
  <% @region.children.each do |child| %>
    <li><%= link_to child.name, country_region_path(@country, child) %></li>
  <% end %>
  </ul>
  <% end %>
</div>

<div class="group">
  <h2>Known wines</h2>

  Wines with bottles:
  <%= render partial: 'wine_list', locals: { wines: @millesimes } %>

  <br/>
  Drunk wines (without bottles):
  <%= render partial: 'wine_list', locals: { wines: @drunk_millesimes } %>
</div>

<div class="group">
  <h2>Associated dishes</h2>
  <% @region.colors.by_name.each do |color| %>
    <% dishes = @region.dishes_by_color(color) %>
    <% unless dishes.empty? %>
      <h3><%= color.name %></h3>
      <ul>
        <% dishes.each do |dish| %>
          <li><%= link_to dish.name, dish_path(dish) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_country_region_path(@country, @region) %> |
<%= link_to 'Back', country_regions_path(@country) %> |
<%= link_to 'Region statistics', stats_country_region_path(@country, @region) %> |
<%= link_to_destroy [@country, @region], no_img: true %>
