<p id="notice"><%= notice %></p>

<div class="group">
  <h2><%= @country.name %> &gt; <%= @region.name %></h2>

  <ul>
    <% unless @region.root? %>
    <li><%= t('region.zone') %>: <%= link_to @region.root.name, country_region_path(@country, @region.root) %></li>
    <li><%= t('activerecord.attributes.region.parent') %>: <%= link_to @region.parent.name, country_region_path(@country, @region.parent) %></li>
    <% end %>
    <li><%= t('activerecord.attributes.region.country') %>: <%= link_to @region.country.name, country_regions_path(@country) %></li>
    <li><%= t('activerecord.attributes.region.colors') %>: <%= @region.colors.map(&:name).join(', ') %></li>
  </ul>

  <% unless @region.leaf? %>
  <h3><%= t('view.region.subregions') %></h3>
  <ul class="ungroup">
  <% @region.children.each do |child| %>
    <li><%= link_to child.name, country_region_path(@country, child) %></li>
  <% end %>
  </ul>
  <% end %>
</div>

<div class="group">
  <h2><%= t('view.known_wines') %></h2>

  <%= t('view.wines_to_drink') %>:
  <%= render partial: 'wine_list', locals: { wines: @millesimes, others_wines: @others_millesimes } %>

  <br/>
  <%= t('view.drunk_wines') %>:
  <%= render partial: 'wine_list', locals: { wines: @drunk_millesimes, others_wines: @others_drunk_millesimes } %>
</div>

<div class="group">
  <h2><%= t('view.region.associated_dishes') %></h2>
  <% @region.colors.by_name.each do |color| %>
    <% dishes = @region.dishes_by_color(color) %>
    <% unless dishes.empty? %>
      <h3><%= color.name %></h3>
      <ul>
        <% dishes.each do |dish| %>
          <li><%= link_to dish.name, dish_path(dish) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to t_action(:edit), edit_country_region_path(@country, @region) %> |
<%= link_to t_action(:index), country_regions_path(@country) %> |
<%= link_to t('view.region.region_stats'), stats_country_region_path(@country, @region) %> |
<%= link_to_destroy [@country, @region], no_img: true %>
