<p id="notice"><%= notice %></p>

<div class="group">
  <h2>Region #<%= @region.id %></h2>

  <ul>
    <li>Name: <%= @region.name %></li>
    <% unless @region.root? %>
    <li>Zone: <%= link_to @region.root.name, country_region_path(@country, @region.root) %></li>
    <li>Parent: <%= link_to @region.parent.name, country_region_path(@country, @region.parent) %></li>
    <% end %>
    <li>Country: <%= link_to @region.country.name, @country %></li>
  </ul>

  <% unless @region.leaf? %>
  <h3>Subregions</h3>
  <ul class="ungroup">
  <% @region.children.each do |child| %>
    <li><%= link_to child.name, country_region_path(@country, child) %></li>
  <% end %>
  </ul>
  <% end %>
</div>

<div class="group">
  <h2>Known wines</h2>

  Wines with bottles:
  <ul class="ungroup">
    <% @millesimes.each do |millesime| %>
    <li><%= link_to "#{millesime.wine.domain} #{millesime.year}", wine_millesime_path(millesime.wine, millesime) %></li>
    <% end %>
  </ul>

  Drunk wines (without bottles):
  <ul class="ungroup">
    <% @drunk_millesimes.each do |millesime| %>
    <li><%= link_to "#{millesime.wine.domain} #{millesime.year}", wine_millesime_path(millesime.wine, millesime) %></li>
    <% end %>
  </ul>

</div>

<div class="group">
  <h2>Associated dishes</h2>
  <ul>
  <% @region.dishes.each do |dish| %>
    <li><%= link_to dish.name, dish_path(dish) %></li>
  <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_country_region_path(@region.country, @region) %> |
<%= link_to 'Back', country_regions_path(@region.country) %> |
<%= link_to_destroy [@country, @region], no_img: true %>
