<h2><%= @country.name %> &gt; <%= t('view.statistic.region_title', region: @region.name) %></h2>

<% unless @regions.empty? %>
<table class="stat">
    <thead>
        <tr>
            <th><%= t('activerecord.models.region', count: 1) %></th>
            <th><%= t('view.statistic.nb_bottles') %></th>
            <th><%= t('view.statistic.percentage') %></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td><%= t('view.statistic.sum') %></td>
            <td class="right"><%= @sum_regions %></td>
            <td class="right">100.0%</td>
        </tr>
    </tfoot>
    <tbody>
        <% @regions.each do |region, data| %>
        <tr>
            <td><%= link_to region, country_region_path(@country, data[:id]) %></td>
            <td class="right"><%= data[:nb] %></td>
            <td class="right"><%= sprintf("%.1f%%", data[:p]) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= pie_chart Hash[@regions.map { |name, data| [name, data[:nb]] }] %>
<% else %>
<p><%= t('view.region.no_stats') %></p>
<% end %>

<%= link_to t('activerecord.models.region', count: 1), country_region_path(@country, @region) %>
|
<%= link_to t('view.statistics'), controller: 'admin', action: 'stats' %>
