<p id="notice"><%= notice %></p>

<h1>Wines</h1>

<table>
  <thead>
    <tr>
      <th>Domain</th>
      <th>Color</th>
      <th>Country</th>
      <th>Zone</th>
      <th>Region</th>
      <th>Organic</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <% country_id = wine.region.country.id %>
        <td><%= link_to wine.domain, wine %></td>
        <td><%= wine.color.name %></td>
        <td><%= wine.region.country.name %></td>
        <td><%= link_to wine.region.root.name, country_region_path(country_id, wine.region.root) %></td>
        <td><%= link_to wine.region.name, country_region_path(country_id, wine.region) %></td>
        <td><%= wine.organic %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to_destroy wine %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path %>
