<h1><%= t_title(:index) %></h1>

<table>
  <thead>
    <tr>
      <th><%= link_to t('activerecord.attributes.wine.domain'), wines_path %></th>
      <th><%= link_to t('activerecord.attributes.wine.color'), wines_path(build_params(sort_by: 'color')) %></th>
      <th><%= link_to t('activerecord.attributes.millesime.year'), wines_path(build_params(sort_by: 'millesime')) %></th>
      <th><%= t('activerecord.attributes.wlog.quantity') %></th>
      <th><%= t('activerecord.attributes.wine.region', count: 1) %></th>
      <th><%= t('region.zone') %></th>
      <th><%= link_to t('activerecord.attributes.region.country'), wines_path(build_params(sort_by: 'country')) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |millesime| -%>
      <% wine = millesime.wine %>
      <% country_id = wine.region.country.id %>
        <tr>
          <td>
            <%= link_to wine.domain, wine_millesime_path(wine, millesime) %>
            <% if wine.organic %>
              <%= image_tag 'organic.png', alt: t('view.alt_organic_wine'), size: '18x12' %>
            <% end %>
          </td>
          <td><%= link_to wine.color.name, wines_path(build_params(filter: 'color', filter_id: wine.color)) %></td>
          <td class="right"><%= human_millesime(millesime) %></td>
          <td class="right"><%= millesime.quantity %>
          <td><%= link_to wine.region.name, wines_path(build_params({ filter: 'region', filter_id: wine.region })) %></td>
          <td><%= link_to wine.region.root.name, wines_path(build_params({ filter: 'zone', filter_id: wine.region.root })) %></td>
          <td><%= wine.region.country.name %></td>
          <td><%= link_to t_action(:edit), edit_wine_path(wine) %></td>
          <td><%= link_to_destroy wine %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% if !@url_params.empty? %>
<%= link_to t('view.reset_filters'), wines_path %><br>
<% end %>

<%= will_paginate @wines %>

<%= link_to t_action(:new), new_wine_path %>
