<% if flash[:notice] %>
<p id="notice"><%= notice %></p>
<% elsif flash[:alert] %>
<p id="alert">Error: <%= flash[:alert] %></p>
<% end %>

<h1>Wines</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Domain', wines_path %></th>
      <th><%= link_to 'Color', wines_path(build_params(sort_by: 'color')) %></th>
      <th><%= link_to 'Millesime', wines_path(build_params(sort_by: 'millesime')) %></th>
      <th>Quantity</th>
      <th>Region</th>
      <th>Zone</th>
      <th><%= link_to 'Country', wines_path(build_params(sort_by: 'country')) %></th>
      <th>Organic</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |millesime| -%>
      <% wine = millesime.wine %>
      <% country_id = wine.region.country.id %>
        <tr>
          <td><%= link_to wine.domain, wine_millesime_path(wine, millesime) %></td>
          <td><%= link_to wine.color.name, wines_path(build_params(filter: 'color', filter_id: wine.color)) %></td>
          <td><%= millesime.year %></td>
          <td><%= millesime.quantity %>
          <td><%= link_to wine.region.name, wines_path(build_params({ filter: 'region', filter_id: wine.region })) %></td>
          <td><%= link_to wine.region.root.name, wines_path(build_params({ filter: 'zone', filter_id: wine.region.root })) %></td>
          <td><%= wine.region.country.name %></td>
          <td><%= wine.organic %></td>
          <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
          <td><%= link_to_destroy wine %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<% if !@url_params.empty? %>
<%= link_to 'Reset filters', wines_path %><br>
<% end %>

<%= link_to 'New Wine', new_wine_path %>
