<p id="notice"><%= notice %></p>

<div class="group">
  <h2><%= t_title(:show) %> #<%= @wine.id %></h2>

  <%= render partial: 'wines/wine', locals: { wine: @wine, min: false } %>

  <% if @wine.attribute_present? :notes %>
  <dl>
    <dt>Notes:</dt>
    <dd><%= @wine.notes %></dd>
  </dl>
  <% end %>

  <h3>Millesimes</h3>
  <% unless @wine.millesimes.empty? %>
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Garde</th>
        <th>Quantity</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @wine.millesimes.each do |millesime| %>
        <tr>
          <td><%= link_to millesime.year, [@wine, millesime] %></td>
          <td><%= millesime.garde %></td>
          <td><%= millesime.quantity %></td>
          <td><%= link_to 'Edit', edit_wine_millesime_path(@wine, millesime) %></td>
          <td><%= link_to_destroy [@wine, millesime] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p> No millesime.</p>
  <% end %>

  <%= link_to t_action(:new, Millesime), new_wine_millesime_path(@wine) %>
</div>

<div class="group">
  <h2>Producer</h2>
  <% if @wine.producer %>
  <ul>
    <li><%= link_to @wine.producer.name, @wine.producer %></li>
    <li><%= @wine.producer.city %>, <%= @wine.producer.zip %></li>
  </ul>
  <% else %>
  <p>No producer</p>
  <% end %>
</div>

<div class="group">
  <h2>Provider</h2>
  <% if @wine.provider %>
  <ul>
    <li><%= link_to @wine.provider.name, @wine.provider %></li>
    <li><%= @wine.provider.city %>, <%= @wine.provider.zip %></li>
  </ul>
  <% else %>
  <p>No provider</p>
  <% end %>
</div>

<%= link_to t_action(:edit), edit_wine_path(@wine) %> |
<%= link_to t_action(:index), wines_path %>
