<p id="notice"><%= notice %></p>

<div class="group">
  <h2><%= t_title(:show) %> #<%= @wine.id %></h2>

  <%= render partial: 'wines/wine', locals: { wine: @wine, min: false } %>

  <% if @wine.attribute_present? :notes %>
  <dl>
    <dt><%= t('activerecord.attributes.wine.notes') %>:</dt>
    <dd><%= @wine.notes %></dd>
  </dl>
  <% end %>

  <h3><%= t('activerecord.models.millesime', count: 2) %></h3>
  <% unless @wine.millesimes.empty? %>
  <table>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.millesime.year') %></th>
        <th><%= t('activerecord.attributes.millesime.garde') %></th>
        <th><%= t('activerecord.attributes.wlog.quantity') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @wine.millesimes.each do |millesime| %>
        <tr>
          <td><%= link_to millesime.year, [@wine, millesime] %></td>
          <td class="right"><%= millesime.garde %></td>
          <td class="right"><%= millesime.quantity %></td>
          <td><%= link_to 'Edit', edit_wine_millesime_path(@wine, millesime) %></td>
          <td><%= link_to_destroy [@wine, millesime] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p><%= t('activerecord.models.millesime', count: 0) %>.</p>
  <% end %>

  <%= link_to t_action(:new, Millesime), new_wine_millesime_path(@wine) %>
</div>

<div class="group">
  <h2><%= t('activerecord.models.producer', count: 2) %></h2>
  <% if @wine.producer %>
  <ul>
    <li><%= link_to @wine.producer.name, @wine.producer %></li>
    <li><%= @wine.producer.city %>, <%= @wine.producer.zip %></li>
  </ul>
  <% else %>
  <p><%= t('activerecord.models.producer', count: 0) %>.</p>
  <% end %>
</div>

<div class="group">
  <h2><%= t('activerecord.models.provider', count: 2) %></h2>
  <% if @wine.provider %>
  <ul>
    <li><%= link_to @wine.provider.name, @wine.provider %></li>
    <li><%= @wine.provider.city %>, <%= @wine.provider.zip %></li>
  </ul>
  <% else %>
  <p><%= t('activerecord.models.provider', count: 0) %>.</p>
  <% end %>
</div>

<%= link_to t_action(:edit), edit_wine_path(@wine) %> |
<%= link_to t_action(:index), wines_path %>
