<p id="notice"><%= notice %></p>

<h1><%= t_title(:index) %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lines</th>
      <th>Columns</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bottle_racks.each do |bottle_rack| %>
      <tr>
        <td><%= link_to bottle_rack.name, bottle_rack %></td>
        <td><%= bottle_rack.lines %></td>
        <td><%= bottle_rack.columns %></td>
        <td><%= link_to t_action(:edit), edit_bottle_rack_path(bottle_rack) %></td>
        <td><%= link_to_destroy bottle_rack %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @bottle_racks %>

<%= link_to t_action(:new), new_bottle_rack_path %>
