<p id="notice"><%= notice %></p>

<div class="group">
  <h2>Bottle rack</h2>
  <ul>
    <li><%=  @bottle_rack.name %></li>
    <li>Size: <%= "#{@bottle_rack.lines}x#{@bottle_rack.columns}"%> (<%= @bottle_rack.size %> locations)</li>
    <li>Free locations: <%= @bottle_rack.free_location_count %></li>
  </ul>

  <%= render partial: 'rack', locals: { bottle_rack: @bottle_rack, show: true } %>
</div>

<%= link_to 'Edit', edit_bottle_rack_path(@bottle_rack) %> |
<%= link_to 'Back', bottle_racks_path %>
