<!DOCTYPE html>
<html>
  <head>
    <title>Cavavin2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h1>Cavavin2</h1>
    </div>

    <div id="content">
      <div id="sidebar">
        <div class="menu">
          <h4>Menu</h4>
          <ul>
            <li><%= link_to 'Homepage', admin_main_path %></li>
            <li><%= link_to 'Cellar book', admin_book_path %></li>
            <li class="separator"></li>
            <li><%= link_to 'Wines', wines_path %></li>
            <li><%= link_to 'Producers', producers_path %></li>
            <li><%= link_to 'Providers', providers_path %></li>
            <li><%= link_to 'Dishes', dishes_path %></li>
            <li><%= link_to 'Countries', countries_path %></li>
            <li><%= link_to 'Colors', colors_path %></li>
            <li><%= link_to 'Bottle Racks', bottle_racks_path %></li>
            <li class="separator"></li>
            <li><%= link_to 'Statistics', admin_stats_path %></li>
            <li><%= link_to 'Preferences', admin_preferences_path %></li>
          </ul>
        </div>
        <div class="menu search">
          <h4>Search</h4>
          <%= form_tag('/admin/search', method: 'get') do %>
            <%= text_field_tag 'search', params[:search] %>
            <%= submit_tag 'Search' %>
          <% end %>
        </div>
      </div>

      <div id="real-content">
        <% if flash[:notice] %>
          <p id="notice"><%= notice %></p>
        <% elsif flash[:alert] %>
          <p id="alert">Error: <%= flash[:alert] %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <div id="footer">
    </div>
  </body>
</html>
